.form {
	background-color: white;

	width: 300px;
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form__heading {
	font-size: 28px;
}

.error {
	color: red;
	margin-bottom: 10px;
}

.container {
	position: relative;
	width: 100%;
}

.input {
	width: 100%;
	padding: 9px 12px;

	border: 2px solid black;
	border-radius: 4px;
}

.input:focus-within {
	outline: none;
}

/* .container:focus-within label,
.container:has(input:not([value=""])) label {
	transform: translateY(-20px);
}
form:focus-within label,
form:has(input:not([value=""])) label {
	transform: translateY(-20px);
} */

.container:focus-within label,
.container:has(input:not([value=""])) label {
	transform: translateY(-26px);
}

.label {
	position: absolute;
	padding: 4px;
	top: 6px;
	left: 10px;
	/* top: -16px; */
	font-size: 16px;

	transition: 0.2s ease;

	background-color: white;
}

.submitButton {
	width: 150px;
	padding: 7px;

	border: none;

	color: white;
	background-color: rgb(99, 195, 99);

	font-size: 20px;

	transition: 0.2s ease;
}

.submitButton:hover {
	cursor: pointer;
	filter: brightness(1.1);
}

.submitButton:disabled {
	background-color: grey;
}
